::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #0d6dfd3a;
  }
  ::-webkit-scrollbar-thumb {
    background: #0d6dfda1;
    border-radius: 50px;
    margin-top: 100px;
  }

.loader{
    width: 40px;
    height: 40px;
/*     background-color: #bbb; */
    border-radius: 100%;
    border: 5px solid #fff;
    border-top: 5px solid #193296;
    animation: animate 1s linear infinite;
}
.loader2{
    width: 20px;
    height: 20px;
/*     background-color: #bbb; */
    border-radius: 100%;
    border: 3px solid #f5f5f5;
    border-top: 3px solid #0d6dfda1;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.showOnHover{
    display: none;
}
.hoverIcon:hover + .showOnHover{
    display: inline;
}
.showOnHover:hover{
    display: inline;
}
.hoverContent{
    display: none;
}



.hoverContent:hover{
    display: block;
}
.hoverbtn:hover + .hoverContent{
    display: block;
}
.subjects{
    display: none;
}
.assess:hover + .subjects{
    display: block;
}
.subjects:hover{
    display: block;
}